<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>org.voidfreud.mcpshape</string>
	<key>ProgramArguments</key>
	<array>
		<string>/home/tester/.local/bin/mcpshape</string>
		<string>daemon</string>
		<string>up</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/home/tester/.local/state/mcpshape/log/daemon.err.log</string>
	<key>StandardOutPath</key>
	<string>/home/tester/.local/state/mcpshape/log/daemon.out.log</string>
</dict>
</plist>
